<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="qaMapper">
	
	<resultMap type="QA" id="qaResult">
		<result column="qa_no" property="qaNo"/>
		<result column="category_name" property="qaCategory"/>
		<result column="user_id" property="userId"/>
		<result column="q_date" property="qaDate"/>
		<result column="a_date" property="answerDate"/>
		<result column="a_id" property="answerId"/>
		<result column="q_title" property="qaTitle"/>
		<result column="q_content" property="qaContent"/>
		<result column="a_content" property="answerContent"/>
		<result column="a_status" property="answerStatus"/>
	</resultMap>


	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from qa
		 where q_status = 'Y'
		   and user_id = #{userId}
	</select>
	
	<select id="selectQAList" resultMap="qaResult">
		select
		       qa_no
		     , category_name
		     , SUBSTR(user_id, 1,2) || RPAD('*', LENGTH(user_id) - 2, '*') AS user_id
		     , to_char(q_date, 'YYYY-MM-DD') as "q_date"
		     , a_status
		  from qa
          join qa_category on (qa_category = category_no)
		 where q_status = 'Y'
		   and user_id = #{userId}
		 order 
		    by qa_no desc
	</select>
	
	<select id="selectSearchListCount" resultType="_int">
		
		select
		       count(*)
		  from qa
		 where q_status = 'Y'
		   and user_id = #{userId}
		   <choose>
			<when test="period == 'week'">
			  <![CDATA[
			   and sysdate - q_date < 8
			   ]]>   
			</when>
			<when test="period == 'month'">
				<![CDATA[
			   and sysdate - q_date < 32
			   ]]>  
			</when>
			<otherwise>
				<![CDATA[
			   and 1 = 1
			   ]]> 
			</otherwise>
		</choose>
		<choose>
			 	<when test="condition == 'title'">
	           		and q_title like '%' || #{keyword} || '%'
			 	</when>
			 	<when test="condition == 'content'">
	                and q_content  like '%' || #{keyword} || '%'
			 	</when>
			 	<otherwise>
	           		and (q_title like '%' || #{keyword} || '%' or q_content  like '%' || #{keyword} || '%')
			 	</otherwise>
		 </choose>	
		 
	</select>
	
	<select id="selectSearchQAList" resultMap="qaResult">
		select
		       qa_no
		     , category_name
		     , SUBSTR(user_id, 1,2) || RPAD('*', LENGTH(user_id) - 2, '*') AS user_id
		     , to_char(q_date, 'YYYY-MM-DD') as "q_date"
		  from qa
          join qa_category on (qa_category = category_no)
          where q_status = 'Y'
		   and user_id = #{userId}
		<choose>
			<when test="period == 'week'">
			  <![CDATA[
			   and sysdate - q_date < 8
			   ]]>   
			</when>
			<when test="period == 'month'">
				<![CDATA[
			   and sysdate - q_date < 32
			   ]]>  
			</when>
			<otherwise>
			   and 1 = 1
			</otherwise>
		</choose>
		<choose>
			 	<when test="condition == 'title'">
	           		and q_title like '%' || #{keyword} || '%'
			 	</when>
			 	<when test="condition == 'content'">
	                and q_content  like '%' || #{keyword} || '%'
			 	</when>
			 	<otherwise>
	           		and (q_title like '%' || #{keyword} || '%' or q_content  like '%' || #{keyword} || '%')
			 	</otherwise>
		 </choose>	
		 order 
		    by qa_no desc
	</select>
	
	<select id="ajaxSelectListCount" resultType="_int">
		select
		       count(*)
		  from qa
		 where q_status = 'Y'
		   and user_id = #{userId}
		   <if test="categoryNo != 0">
		   and qa_category = #{categoryNo}
		   </if>
	</select>
	
	<select id="ajaxSelctQAList" resultMap="qaResult">
		select
		       qa_no
		     , category_name
		     , SUBSTR(user_id, 1,2) || RPAD('*', LENGTH(user_id) - 2, '*') AS user_id
		     , to_char(q_date, 'YYYY-MM-DD') as "q_date"
		     , a_status
		  from qa
          join qa_category on (qa_category = category_no)
		 where q_status = 'Y'
		   and user_id = #{userId}
		   <if test="categoryNo != 0">
		   and qa_category = #{categoryNo}
		   </if>
		 order 
		    by qa_no desc
	</select>
	
	<select id="selectDetail" resultMap="qaResult">
		select 
		       qa_no
		     , user_id
		     , a_id
		     , q_title
		     , q_content
		     , a_content
		     , a_status
		     , to_char(q_date, 'YYYY-MM-DD') as "q_date"
		     , to_char(a_date, 'YYYY-MM-DD') as "a_date"
		  from qa   
		 where q_status = 'Y'
		   and qa_no = #{qaNo}
	</select>
	
	<insert id="insertQA">
	insert
	  into qa
	     (
	        qa_no
	      , qa_category
	      , user_id
	      , q_title
	      , q_content
	      )
	      values
	      (
	        seq_qa_no.nextval
	      , #{qaCategory}
	      , #{userId}
	      , #{qaTitle}
	      , #{qaContent}
	      )
	</insert>
	

</mapper>
